{% extends "base.html" %}

{% block content %}

<div class="btn-toolbar justify-content-between">
    <h3>Works log</h3>
    <a href="/" class="btn btn-primary" aria-valuetext="center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"></path>
        </svg>
        На главную</a>


</div>
<p><a href="/static/img/mars.png" download>Скачать файл</a>
    {% for item in jobs %}
<h4>Action #{{ loop.index }}</h4>

<table border="1" width="100%" cellpadding="5">
    <tr class="table-info">
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>Hazard category</th>
        <th>Is finished</th>
    </tr>
    <tr>
        <td class="table-success">{{ item.job }}</td>
        <td class="table-success">{{ item.team_leader }}</td>
        <td class="table-success">{{ item.work_size }}</td>
        <td class="table-success">{{ item.collaborators }}</td>
        <td class="table-success">{{ cat[item.id] }}</td>
        <td class="table-success">{{ item.is_finished }}</td>
    </tr>
</table>
{% endfor %}
{% endblock %}